<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Search</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">
	<style type="text/css">
		body {background:  linear-gradient(to right, rgba(255,0,0,0.5), rgba(0,255,0,0.5));}
		form{
			background:  linear-gradient(to right, rgba(0,255,0,0.1), rgba(255,0,0,0.1));
			padding: 20px;
			margin-top: 70px;
			border-radius: 30px;
		}
		label{
			font-family: American Typewriter, serif ;
		}
		.form-control,.form-select{
			color: #fff;
			background-color: rgba(0, 0, 0, 0.2);
			border-radius: 15px;
		}
		.btn{
			border-radius: 15px;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="row form_style">
			<div class="offset-md-2 col-md-8 ">

				<form method="post" action="/response/">
				<div class="row g-3">
					<h2 class="offset-md-3">Predict Air Temperature</h2>
					<div class="col-sm-4">

					    <label for="process_t">Process temperature [K]</label>
						<input type="text" id="process_t" class="form-control" aria-label="City" value="" name="process_t">
					</div>
                    <div class="col-sm-4">
					    <label for="rotational_s">Rotational speed [rpm]</label>
						<input type="number" id="rotational_s" class="form-control" aria-label="City" value="" name="rotational_s" min="0">
					</div>
                    <div class="col-sm-4">
					    <label for="torque">Torque [Nm]</label>
						<input type="text" id="torque" class="form-control" aria-label="City" value="" name="torque">
					</div>
					<div class="col-sm-4">
					    <label for="tool_w">Tool wear [min]</label>
						<input type="number" id="tool_w" class="form-control" aria-label="City" value="" name="tool_w" min="0">
					</div>
					<div class="col-sm-4">
					    <label for="machine_f">Machine failure</label>
						<input type="number" id="machine_f" class="form-control" aria-label="City" value="" name="machine_f" max="1" min="0">
					</div>
                    <div class="col-sm-4">
					    <label for="twf">TWF</label>
						<input type="number" id="twf" class="form-control" aria-label="City" value="" name="twf" max="1" min="0">
					</div>
                    <div class="col-sm-4">
					    <label for="hdf">HDF</label>
						<input type="number" id="hdf" class="form-control" aria-label="City" value="" name="hdf" max="1" min="0">
					</div>
					<div class="col-sm-4">
					    <label for="pwf">PWF</label>
						<input type="number" id="pwf" class="form-control" aria-label="City" value="" name="pwf" max="1" min="0">
					</div>
					<div class="col-sm-4">
					     <label for="osf">OSF</label>
						<input type="number" id="osf" class="form-control" aria-label="City" value="" name="osf" max="1" min="0">
					</div>
					<div class="offset-md-4 col-md-4">
						<label for="rnf">RNF</label>
						<input type="number" id="rnf" class="form-control" aria-label="City" value="" name="rnf" max="1" min="0">
					</div>
					<div class="offset-md-5 col-md-8">
						<button type="submit" class="btn btn-info">Predict</button>
					</div>
				</div>

				</form>
			</div>
		</div>
	</div>
</body>
</html>